:root {
    --humanist: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --industrial: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    --system-ui: system-ui, sans-serif;
    --body-font: var(--humanist);
    --heading-font: var(--system-ui);
    --prim: white;
    --sec: royalblue;
    --accent: pink;
    --black: #222;
    --measure: 90ch;
    --s0: calc(1.15rem + 0.2vw);
    --ratio: 1.2;
    --s1: calc(var(--s0)*var(--ratio));
    --s2: calc(var(--s1)*var(--ratio));
    --s3: calc(var(--s2)*var(--ratio));
    --s4: calc(var(--s3)*var(--ratio));
    --s5: calc(var(--s4)*var(--ratio));
    --s6: calc(var(--s5)*var(--ratio));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-size: var(--s1);
    font-family: var(--body-font);
}

p {
    margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.1ch;
    line-height: 1.3;
    font-family: var(--heading-font);
    font-weight: 400;
}

h1 {
    font-size: var(--s5);
}

h2 {
    font-size: var(--s4);
}

h3 {
    font-size: var(--s3);
}

h4,
h5 {
    font-size: var(--s2);
}

h6 {
    font-size: var(--s1);
}

section {
    display: grid;
    align-content: center;
    justify-items: center;
    padding: 1.5rem 1rem;
}

section>div {
    width: 100%;
    max-width: var(--measure);
}

input,
form,
label,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
}

pre,
code {
    font-size: var(--s1);
}