.bp {
    --bg-color: var(--prim);
    background-color: var(--bg-color);
}

.bs {
    --bg-color: var(--sec);
    background-color: var(--bg-color);
}

.cp {
    --text-color: var(--prim);
    color: var(--text-color);
}

.cs {
    --text-color: var(--sec);
    color: var(--text-color);
}

.ba {
    --bg-color: var(--accent);
    background-color: var(--bg-color);
}

.cm {
    --text-color: color-mix(in hsl, var(--sec) 30%, white);
    color: var(--text-color);
}

.bm {
    --bg-color: color-mix(in hsl, var(--sec) 20%, white);
    background-color: var(--bg-color);
}

.om {
    border: 1px solid color-mix(in hsl, var(--sec) 30%, white);
}

.ca {
    --text-color: var(--accent);
    color: var(--text-color);
}

.bb {
    --bg-color: var(--black);
    background-color: var(--bg-color);
}

.cb {
    --text-color: var(--black);
    color: var(--text-color);
}

.ob {
    border: 1px solid var(--black);
}

.op {
    border: 1px solid var(--prim);
}

.os {
    border: 1px solid var(--sec);
}

.oa {
    border: 1px solid var(--accent);
}

.t-2 {
    border-width: 2px;
}

.t-3 {
    border-width: 3px;
}

.t-4 {
    border-width: 4px;
}

.borderless {
    border: none;
}

.sharp {
    border-radius: 0;
}

.round {
    border-radius: 1rem;
}

.round_5 {
    border-radius: 0.5rem;
}

.round-2 {
    border-radius: 2rem;
}

.round-3 {
    border-radius: 3rem;
}

.round-4 {
    border-radius: 4rem;
}

.margin {
    margin: 1rem;
}

.pad {
    --padding: 1rem;
    padding: 1rem;
}

.pad-2 {
    --padding: 2rem;
    padding: 2rem;
}

.pad-3 {
    --padding: 3rem;
    padding: 3rem;
}

.pad-4 {
    --padding: 4rem;
    padding: 4rem;
}

.pad_1 {
    --padding: 0.1rem;
    padding: 0.1rem;
}

.pad_2 {
    --padding: 0.2rem;
    padding: 0.2rem;
}

.pad_4 {
    --padding: 0.4rem;
    padding: 0.4rem;
}

.pad_5 {
    --padding: 0.5rem;
    padding: 0.5rem;
}

.no-pad {
    padding: 0;
}

.tilt-l {
    transform: rotateZ(-5deg);
}

.tilt-r {
    transform: rotateZ(5deg);
}

.indent {
    margin-inline-start: 1rem;
}

.invert {
    filter: invert(100%);
}

.square {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
}

.circle {
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
}

.rect {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
}

.no-dec {
    text-decoration: none;
}

.full-w,
.fw {
    width: 100%;
}

.full-h,
.fh {
    height: 100%;
}

.contain {
    object-fit: contain;
}

.wrap {
    hyphens: auto;
    word-break: break-all;
}

.highlight {
    box-shadow: var(--highlight);
}

.shadow {
    box-shadow: var(--shadow);
}

.deep {
    box-shadow: var(--deep-shadow);
}

.mute {
    color: hsl(from var(--text-color) h s l / 0.8);
}

.mute-2 {
    color: hsl(from var(--text-color) h s l / 0.6);
}

.mute-3 {
    color: hsl(from var(--text-color) h s l / 0.4);
}

.mute-4 {
    color: hsl(from var(--text-color) h s l / 0.2);
}

.darken {
    background-color: hsl(from var(--bg-color) h s l / 0.5);
    background-blend-mode: darken;
    background-size: cover;
}

.darken-2 {
    background-color: hsl(from var(--bg-color) h s l / 0.65);
    background-blend-mode: darken;
    background-size: cover;
}

.darken-3 {
    background-color: hsl(from var(--bg-color) h s l / 0.8);
    background-blend-mode: darken;
    background-size: cover;
}

.c-grad {
    background-image: radial-gradient(circle at bottom, hsl(from var(--bg-color) h s l / 0.3), var(--black) 30%);
}

.grad {
    background-image: linear-gradient(to bottom, var(--black) 80%, hsl(from var(--bg-color) h s l / 0.2));
}

.floor {
    margin-bottom: 1rem;
}

.floor-2 {
    margin-bottom: 2rem;
}

.floor_5 {
    margin-bottom: 0.5rem;
}

.roof {
    margin-top: 1rem;
}

.roof-2 {
    margin-top: 2rem;
}

.roof_5 {
    margin-top: 0.5rem;
}