.card {
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 1rem;
}

.card>* {
    overflow-wrap: break-word;
}

.button {
    border-radius: 1rem;
    color: inherit;
    text-decoration: none;
    border: 2px solid var(--text-color);
    padding: 0.5rem 1rem;
}