.flex {
    --space: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex.right {
    justify-content: flex-end;
}

.flex.left {
    justify-content: flex-start;
}

.flex.top {
    align-items: start;
}

.flex.bottom {
    align-items: end;
}

.grow {
    flex-grow: 1;
}

.grid {
    --space: 0.5rem;
    --item-count: 2;
    --minimum: calc(var(--measure)/(var(--item-count) * 2));
    display: grid;
    gap: var(--space);
    align-content: center;
    width: 100%;
}

.i-3 {
    --item-count: 3;
}

.i-4 {
    --item-count: 4;
}

.i-5 {
    --item-count: 5;
}


@supports (width: min(var(--minimum), 100%)) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(min(var(--minimum), 100%), 1fr));
    }
}

.stack {
    --space: 0.5rem;
    display: grid;
    gap: var(--space);
    justify-items: center;
    align-content: center;
}

.stack.top {
    align-content: start;
}

.stack.bottom {
    align-content: end;
}

.stack.left {
    justify-items: start;
}

.stack.right {
    justify-items: end;
}

.box {
    border: 1px solid black;
    padding: 1rem;
}

.center {
    text-align: center;
    max-inline-size: var(--measure);
    margin-left: auto;
    margin-right: auto;
}

.reel {
    --space: 0.5rem;
    gap: var(--space);
    display: flex;
    overflow-x: auto;
}

.reel>* {
    min-width: 50%;
    max-width: 100%;
}

.gap_1 {
    --spacing: 0.1rem;
}

.gap_2 {
    --spacing: 0.2rem;
}

.gap_3 {
    --spacing: 0.3rem;
}

.gap_4 {
    --spacing: 0.4rem;
}

.gap-5 {
    --spacing: 0.5rem;
}

.gap {
    --spacing: 1rem;
}

.gap-2 {
    --spacing: 2rem;
}

.gap-3 {
    --spacing: 3rem;
}