:root {
    --heading-font: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --body-font: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    --prim: rgb(241, 245, 249);
    --sec: rgb(43, 99, 64);
    --accent: hsl(0, 44%, 50%);
    --black: #000000e2;
    --shadow: 0 3px 4px 3px rgba(30, 30, 30, 0.2);
    --deep-shadow: inset 0 3px 4px rgba(130, 130, 130, 0.7),
        inset 0 0px 4px rgba(130, 130, 130, 0.7);
    --highlight: inset 0 1px 2px rgba(255, 255, 255, 0.7);

    --s0: calc(1.15rem + 0.2vw);
    --ratio: 1.25;
    --s1: calc(var(--s0)*var(--ratio));
    --s2: calc(var(--s1)*var(--ratio));
    --s3: calc(var(--s2)*var(--ratio));
    --s4: calc(var(--s3)*var(--ratio));
    --s5: calc(var(--s4)*var(--ratio));
    --s-1: calc(var(--s0)/var(--ratio));
    --s-2: calc(var(--s-1)/var(--ratio));
    --s-3: calc(var(--s-2)/var(--ratio));
    --s-4: calc(var(--s-3)/var(--ratio));
    --s-5: calc(var(--s-4)/var(--ratio));
    --measure: 70ch;

    --top-gap: 4rem;
}

/*
@media (prefers-color-scheme: dark) {
    :root {
        --prim: #000000;
        --sec: rgb(54, 139, 80);
        --accent: hsl(180, 32%, 50%);
    }
}
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: var(--body-font);
    font-size: var(--s0);
    --text-color: var(--black);
    color: var(--black);
    background-color: var(--prim);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: var(--heading-font);
    letter-spacing: -1px;
    margin: 0.1rem 0;
    line-height: 1.1;
}

h1 {
    font-size: var(--s3);
}

h2 {
    font-size: var(--s2);
}

h3 {
    font-size: var(--s1);
    font-style: italic;
}

h4,
h5,
h6 {
    font-size: var(--s0);
    font-style: italic;
}

p {
    margin: 0.1rem 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
    max-inline-size: calc(var(--measure)/2);
}

header {
    padding: 0.5rem 1rem;
    margin: 0;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header nav ul li {
    list-style-type: none;
}

header a {
    padding: 0.5rem;
}

header form :is(button, input) {
    background-color: transparent;
    color: inherit;
    border: none;
    font-size: var(--s0);
    font-family: var(--body-font);
    text-decoration: underline;
    text-underline-offset: 3px;
}

a {
    color: inherit;
    text-underline-offset: 3px;
}

main {
    width: 100%;
    min-height: 100vh;
    justify-self: center;
    margin-top: var(--top-gap);
    overflow: hidden;
}

section {
    padding: 1.5rem 1rem;
}

section>div {
    width: 100%;
    max-width: var(--measure);
    justify-self: center;
}

img {
    max-inline-size: 100%;
    max-width: 100%;
    max-height: 100vh;
    transition: transform 400ms;
    transform: translateX(0);
}

video {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

html.is-animating main img {
    transform: translateX(6rem);
}

html.is-leaving main img {
    transform: translateX(6rem);
}

footer {
    padding: 2rem 1rem;
}

form {
    display: grid;
    margin: 0 0.5rem;
}

label {
    padding-top: 1rem;
    text-transform: uppercase;
    margin-left: 0.75rem;
    padding-bottom: 0.25rem;
}

textarea {
    field-sizing: content;
}

input,
textarea {
    border-radius: 1rem;
    border: 1px solid grey;
    font-size: inherit;
    font-family: inherit;
    padding: 0.75rem;
    max-width: 100%;
    min-width: 0;
}

input[type="submit"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: transform 300ms;
    transform: translateY(0);
}

html.is-animating input[type="submit"] {
    transform: translateY(6rem);
}

html.is-leaving input[type="submit"] {
    transform: translateY(6rem);
}

small {
    font-size: 1.05rem;
}