.bp {
    background-color: var(--prim);
}

.bs {
    background-color: var(--sec);
}

.cp {
    color: var(--prim);
}

.cs {
    color: var(--sec);
}

.ba {
    background-color: var(--accent);
}

.ca {
    color: var(--accent);
}

.op {
    border: 1px solid var(--prim);
}

.os {
    border: 1px solid var(--sec);
}

.round {
    border-radius: 1rem;
}

.pad {
    padding: 1rem;
}