:root {
    --heading-font: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    ;
    --body-font: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    --prim: white;
    --sec: #457570;
    --accent: royalblue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    font-size: 1.2rem;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    letter-spacing: -1px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.7rem;
}

h5,
h6 {
    font-size: 1.6rem;
}

p {
    margin-bottom: 1rem;
}

header {
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
}

header nav ul li {
    list-style-type: none;
}

header a {
    padding: 0.5rem;
}

a {
    color: inherit;
    text-underline-offset: 3px;
}

main {
    max-width: 45rem;
    justify-self: center;
}

section {
    padding: 0.5rem 0;
}

img{
    max-width: 100%;
}