.card {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0.2rem;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.card.no-pad {
    padding: 0;
    overflow: hidden;
    padding-bottom: 1rem;
}

.card.no-pad>* {
    margin: 0 1rem;
    margin-bottom: 0.5rem;
}

.card.no-pad>img {
    margin: 0;
    margin-bottom: 1rem;
}

.button {
    border-radius: 1.5rem;
    text-decoration: none;
    padding: 1rem;
    margin: 0.2rem;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    transition: 240ms;
    transform: translateY(0);
}

html.is-changing .transition-main {
    transition: opacity 200ms ease-in-out;
}

html.is-animating .transition-main {
    opacity: 0;
}


html.is-animating .button {
    transform: translateY(6rem);
}

html.is-leaving .button {
    transform: translateY(6rem);
}