:root {
    --heading-font: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    --body-font: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    --prim: white;
    --sec: #608590;
    --accent: royalblue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    font-size: 1.2rem;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    letter-spacing: -0.1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

p{
    margin-bottom: 1rem;
}

header{
    margin-bottom: 2rem;
}

header nav ul li{
    list-style-type: none;
}

a{
    color: inherit;
    text-underline-offset: 3px;
}