.bp {
    background-color: var(--prim);
}

.bs {
    background-color: var(--sec);
}

.cp {
    color: var(--prim);
}

.cs {
    color: var(--sec);
}

.op {
    border: 1px solid var(--prim);
}

.os {
    border: 1px solid var(--sec);
}

.round{
    border-radius: 1rem;
}