:root{
    --neo-grotesque: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --geometric-humanist: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    --blue:rgb(0, 51, 112);
}

*{
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: var(--geometric-humanist);
    text-underline-offset: 3px;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.3;
    font-family: var(--neo-grotesque);
}

section{
    padding: 0.5rem;
}

section:nth-child(odd){
}

header{
    background-color: #1f1f1f;
    color:white;
    padding: 1rem;
    display: flex;
    align-items: center;
}

header a{
    font-size: 1rem;
    color:white;
}

header nav ul{
    display: flex;
    gap: 0.5rem;
}

header nav ul li{
    list-style-type: none;
}

img{
    max-width: 100%;
}

.logo{
    width: 120px;
    object-fit: cover;
    height: 40px;
}

.pad{
    flex-grow: 1;
}

.hero{
    background-color: var(--blue);
    border-radius: 1rem;
    padding: 7rem 2rem;
    color:white;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    gap:2rem;
    min-height: 20vh;
    background: linear-gradient(0.15turn,var(--blue),#1f1f1f);
}

@media screen and (min-width:700px) {
    .hero {
        grid-template-columns: 1fr 1fr;
    }
}

.hero .info{
    display: grid;
    gap: 1rem;
    align-content: center;
}

.hero h1{
    font-size: 2.5rem;
}

.hero .links a{
    color:white;
    text-decoration: none;
    border: 2px solid white;
    padding: 0.7rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.hero .image img{
    border-radius: 0.5rem;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.3);
}

.image-info{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-content: center;
    padding: 2rem;
    border-bottom: 1px dashed grey;
}

.image-info .info{
    display: flex;
    align-items: center;
}

.image-info img{
    border-radius: 1rem;
}

.image-info .image{
    background: linear-gradient(0.35turn,steelblue,white);
    border-radius: 1rem;
    padding: 0.1rem;
    display: grid;
}

@media screen and (min-width:700px){
    .image-info{
        grid-template-columns: 1fr 1fr;
    }
}

.card-bg{
    background-image: url("/static/img/backhoe-grader-loader.webp");
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.85);
    min-height: 240px;
    padding: 3rem 2rem;
    display: grid;
    align-content: center;
}

.card-bg .card{
    background-color: wheat;
    padding: 1rem;
    border-radius: 0.5rem;
}

.deck{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.deck .card{
    max-width: 300px;
    box-shadow: 2px 2px 1px 3px rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 0.5rem;
}

.deck .card img{
    border-radius: 0.5rem;
}

.deck .card a{
    background-color:var(--blue);
    font-size: 1rem;
    color:white;
    padding: 0.5rem;
    max-width: 7rem;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
}

.heading-card{
    background: linear-gradient(00.35turn,black,var(--blue));
    color: white;
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}