:root{
    --neo-grotesque: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --geometric-humanist: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    --blue:rgb(0, 51, 112);
    --component-min-height: 280px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: var(--geometric-humanist);
    text-underline-offset: 3px;
    color: #2d2d2d;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.3;
    font-family: var(--neo-grotesque);
}

section{
    padding: 0.5rem;
    animation: fade-in 0.2s ease-out 1;
    overflow: hidden;
}

p{
    animation: slide-in 0.9s ease-out 1;
    position: relative;
}

a{
    animation: fade-in 1.2s ease-out 1;
}


@keyframes slide-in{
    from{opacity: 0;top: 1rem;}
    to{opacity: 1;top:0;}
}

@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
}

header{
    background-color: #1f1f1f;
    color:white;
    padding: 1rem;
    display: flex;
    align-items: center;
}

header a{
    font-size: 1rem;
    color:white;
}

header nav ul{
    display: flex;
    gap: 0.5rem;
}

header nav ul li{
    list-style-type: none;
}

img{
    max-width: 100%;
}

.logo{
    width: 120px;
    object-fit: cover;
    height: 40px;
}

.pad{
    flex-grow: 1;
}

.hero{
    background-color: var(--blue);
    border-radius: 1rem;
    padding: 7rem 2rem;
    color:white;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    gap:2rem;
    min-height: 20vh;
    background: linear-gradient(0.50turn,var(--blue),#1f1f1f);
    text-align: center;
}

@media screen and (min-width:700px) {
    .hero {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
}

.hero .info{
    display: grid;
    gap: 1rem;
    align-content: center;
}

.hero h1{
    font-size: 2.5rem;
}

.hero p{
    margin-bottom: 1rem;
}

.hero strong{
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 2rem;
}

.hero .links a{
    color:white;
    text-decoration: none;
    border: 2px solid white;
    padding: 0.7rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.hero .image{
    display: grid;
    align-content: center;
}

.hero .image img{
    border-radius: 0.5rem;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.3);
}

.image-info{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-content: center;
    padding: 2rem;
    min-height: var(--component-min-height);
}

.image-info .info{
    display: grid;
    align-content: center;
}


.image-info .image{
    border-radius: 1rem;
    padding: 0.1rem;
    display: grid;
    align-content: center;
}

.image-info .image img{
    border-radius: 1rem;
}

@media screen and (min-width:700px){
    .image-info{
        grid-template-columns: 1fr 1fr;
    }
}

.card-bg{
    min-height: var(--component-min-height);
    background-image: url("/static/img/backhoe-grader-loader.webp");
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.85);
    padding: 3rem 2rem;
    display: grid;
    align-content: center;
    text-align: center;
}

.card-bg .card{
    background-color: var(--blue);
    color:white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.deck{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    padding-bottom: 2rem;
    border-bottom: 1px dashed grey;
}

.deck .card{
    max-width: 300px;
    box-shadow: 1px 1px 2px 4px rgba(0,0,0,0.1);
    padding: 3rem 1.5rem;
    border-radius: 1rem;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 0.5rem;
}

.deck .card img{
    border-radius: 0.5rem;
}

.deck .card a{
    background-color:var(--blue);
    font-size: 1rem;
    color:white;
    padding: 0.5rem;
    max-width: 7rem;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
}

.heading-card{
    background: linear-gradient(0.50turn,var(--blue),black);
    color: white;
    text-align: center;
    border-radius: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.little-big-card{
    min-height: var(--component-min-height);
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
}

.little-big-card .little-card{
    display: grid;
    align-content: center;
    padding: 0 1rem;
}

.little-big-card .little-card img{
    max-width: 100%;
    width: 100%;
    max-height: 500px;
    padding: 3rem 0;
    object-fit: cover;
}

.little-big-card .big-card{
    background: linear-gradient(0.95turn,#2d2d2d,var(--blue));
    color: white;
    margin: 0 -9rem;
    padding: 2rem;
    padding: 1rem 10rem;
    z-index: -5;
    display: grid;
    align-content: center;
}